@{
   ViewData["Title"] = "Edit";

   var countries = ViewData["Countries"] as List<CountryModel>;
   var GetGender = ViewData["Genders"] as List<GenderModel>;
}


<div>
   <div class="container py-4 px-4">
      <div class="row d-flex justify-content-center">
         <div class=" row col-12 border border-dark-subtle shadow px-4 py-5 mb-5 bg-body-tertiary rounded">
            <div>
               <form method="post" asp-controller="Users" asp-action="EditConfirmed">
                  <legend>Update Client Information</legend>

                  <div class="form-group">
                     <label class="" for="FirstName">First Name</label>
                     <div class="">
                        <input class="form-control" id="FirstName" name="FirstName" type="text"
                           value="@Model.FirstName" />
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="" for="LastName">Last Name</label>
                     <div class="">
                        <input class="form-control" id="LastName" name="LastName" type="text" value="@Model.LastName" />
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="" for="UserName">Username</label>
                     <div class="">
                        <input class="form-control" id="UserName" name="UserName" type="text" value="@Model.UserName" />
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="" for="GenderID">Gender</label>
                     <div class="">
                        <input class="form-control" id="GenderXID" name="GenderXID" type="text"
                           value="@Model.Gender.Gender" readonly />
                        <small style="color: tomato;">*This cannot be changed.</small>
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="" for="CountryID">Country</label>
                     <div class="">
                        <select class="form-control" id="userCountries" name="CountryID">
                           <option> - Please select a country - </option>
                           @foreach(CountryModel country in countries)
                           {
                              <option value="@country.ID">@country.Name</option>
                           }
                        </select>
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="" for="Telephone">Telephone</label>
                     <div class="">
                        <input class="form-control" id="Telephone" name="Telephone" type="text"
                           value="@Model.Telephone" />
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="" for="Email">Email</label>
                     <div class="">
                        <input class="form-control" id="Email" name="Email" type="text" value="@Model.Email" />
                     </div>
                  </div>

                  <div class="py-3">
                     <input type="submit" class="btn btn-primary" asp-controller="Users" asp-action="EditConfirmed" />
                  </div>
                  <input type="hidden" name="ID" value="@Model.ID">
                  <input type="hidden" name="GenderID" value="@Model.GenderID">
                  <input type="hidden" name="CountryID" value="@Model.CountryID">
               </form>
            </div>
         </div>
      </div>
   </div>
</div>