@model List<UserViewModel>
@{
    ViewData["Title"] = "Index";

}

<div class=" border border-dark-subtle shadow px-3 py-6 mb-5 bg-body-tertiary rounded">
    <p>&nbsp;</p>
    <div class="row p-3 text-center">
        <h2>Registered Clients</h2>
    </div>

    <div class="row align-items-center px-5 py-3" >
        <div class="col">
            <a asp-area="" asp-controller="Users" asp-action="Create" class="btn btn-success">Create New Client</a>
        </div>
        <div class="col" style="text-align:end;">
            <form asp-controller="Users" asp-action="Search" method="get">
                <div>
                    <label>
                        Search: <input type="text" name="UserName" value="@ViewBag.Query" />
                        <input type="submit" value="Filter" />
                    </label>
                </div>
            </form>
        </div>
    </div>


    <div class="row px-5">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>User</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Username</td>
                        <td>Gender</td>
                        <td>Country</td>
                        <td>Telephone</td>
                        <td>Email</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.UserName</td>
                            <td>@item.Gender</td>
                            <td>@item.Country</td>
                            <td>@item.Telephone</td>
                            <td>@item.Email</td>
                            <td>
                                <a class="fa-regular fa-pen-to-square px-3" href="/Users/Edit?id=@item,id"></a>
                                <a class="fa-regular fa-trash-can" href="/Users/Delete?id=@item,id" style="color: tomato;"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>